<configuration>
<!--    i dont think i can just change our logs to json but I can ask splunk people-->
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter"/>

            <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSZ</timestampFormat>
            <appendLineSeparator>true</appendLineSeparator>

            <!-- Include MDC + Micrometer tags -->
            <includeMDC>true</includeMDC>

            <!-- Required for Splunk -->
            <includeCallerData>false</includeCallerData>
            <includeContextName>false</includeContextName>
            <includeThreadName>true</includeThreadName>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>
</configuration>
